<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121241823789-6jfm7j9ntvia5aaomm743b6oup5v84kc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121241823789-6jfm7j9ntvia5aaomm743b6oup5v84kc</string>
	<key>API_KEY</key>
	<string>AIzaSyBsGoNG4XLQ-6WDuiDnao-kkriLxTTWb1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>121241823789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.database</string>
	<key>PROJECT_ID</key>
	<string>airy-decorator-345705</string>
	<key>STORAGE_BUCKET</key>
	<string>airy-decorator-345705.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121241823789:ios:a156ab14a8c0e8d11ee6a4</string>
</dict>
</plist>